body {
    font-family: 'Roboto', sans-serif;
}

.calculator {
    width: 400px;
    height: 800px;
    border-radius: 18% / 10%;
    background-color: black;
    display: flex;
    align-items: end;
    margin: auto;
    flex-wrap: wrap;
}

.content {
    height: 65%;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.digits {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
    column-gap: 11.7px;
    margin-left: 10px;
}

/* .digit {
    font-size: 35px;
} */

.operators {
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    align-items: center;
    height: 100%;
}

.operator {
    margin-right: 5px;
    background-color: #ff8533;
}

button {
    color: white;
    background-color: #3a3737;
    border-radius: 100%;
    border: 1px solid black;
    width: 85px;
    height: 85px;
    font-size: 35px;
}

.tops {
    color: black;
    background-color:#a6a6a6;
}

/* p.delete {
    font-size: 80px;
} */

.operator.equals {
    margin-right: 10px;
}

.cero {
    width: 177px;
    border-radius: 50% / 100%;
    padding-right: 88.5px ;
}

.screen {
    width: 100%;
    height: 180px;
    color: white;
    display: flex;
    justify-content: end;
    align-items: end;
}

.digit-style {
    font-size: 80px;
}